# Игнорируем скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем виртуальные окружения
env/
venv/
ENV/
.venv/

# Игнорируем файлы переменных окружения
*.env

# Игнорируем файлы базы данных (если не требуется их отслеживание)
*.db

# Игнорируем папки и файлы сборки
build/
dist/
*.egg-info/

# Игнорируем настройки редакторов и IDE
.vscode/
.idea/

# Игнорируем системные файлы
.DS_Store
Thumbs.db